{% extends 'base.html' %}
{% load static %}
{%block body%}
{% comment %} <div class="speakers-div">
<div class="container">
    <h1 class="sub-title">Speakers</h1>
    <div class="work-list">
        <div class="work">
            <img src="./static/images/hero-bg.png">
            <div class="layer">
                <h3>LiART</h3>
                <p> <b>Android Application | Kotlin</b><br>The feature-rich </p>
                <a href="#"><i class="fa-solid fa-link fa-beat" style="color: #ff004f;"></i></a>
            </div>
        </div>
        <div class="work">
            <img src="./static/images/hero-bg.png">
            <div class="layer">
                <h3>Netflix Clone Website</h3>
                <p> <b>HTML, CSS, JS</b><br> The Netflix 
                    </p>
                <a href="#"><i class="fa-solid fa-link fa-beat" style="color: #ff004f;"></i></a>
            </div>
        </div>
        <div class="work">
            <img src="./static/images/hero-bg.png">
            <div class="layer">
                <h3>MyWeatherApp</h3>
                <p> <b>Android Application | Kotlin</b> <br>The Weather App </p>
                <a href="#"><i class="fa-solid fa-link fa-beat" style="color: #ff004f;"></i></a>
            </div>
        </div>
        
        </div>

        <div class="work-list">
            <div class="work">
                <img src="./static/images/hero-bg.png">
                <div class="layer">
                    <h3>LiART</h3>
                    <p> <b>Android Application | Kotlin</b><br>The feature-rich </p>
                    <a href="#"><i class="fa-solid fa-link fa-beat" style="color: #ff004f;"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="./static/images/hero-bg.png">
                <div class="layer">
                    <h3>Netflix Clone Website</h3>
                    <p> <b>HTML, CSS, JS</b><br> The Netflix Clone 
                        </p>
                    <a href="#"><i class="fa-solid fa-link fa-beat" style="color: #ff004f;"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="./static/images/hero-bg.png">
                <div class="layer">
                    <h3>MyWeatherApp</h3>
                    <p> <b>Android Application | Kotlin</b> <br>The Weather App.</p>
                    <a href="#"><i class="fa-solid fa-link fa-beat" style="color: #ff004f;"></i></a>
                </div>
            </div> 
        </div>
        <div class="work-list">
            <div class="work">
                <img src="./static/images/hero-bg.png">
                <div class="layer">
                    <h3>LiART</h3>
                    <p> <b>Android Application | Kotlin</b><br>The feature-rich </p>
                    <a href="#"><i class="fa-solid fa-link fa-beat" style="color: #ff004f;"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="./static/images/hero-bg.png">
                <div class="layer">
                    <h3>Netflix Clone Website</h3>
                    <p> <b>HTML, CSS, JS</b><br> The Netflix Clone 
                        </p>
                    <a href="#"><i class="fa-solid fa-link fa-beat" style="color: #ff004f;"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="./static/images/hero-bg.png">
                <div class="layer">
                    <h3>MyWeatherApp</h3>
                    <p> <b>Android Application | Kotlin</b> <br>The Weather App </p>
                    <a href="#"><i class="fa-solid fa-link fa-beat" style="color: #ff004f;"></i></a>
                </div>
            </div> 
        </div>
        
    </div>
</div>        {% endcomment %}

<div class="speak">
    <h3 class="soon text-center"><b>TO BE ANNOUNCED <b style="color: red;">SOON</b></b></h3> 
</div>


{%endblock body%}